<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic">Optional Parameters
    </button>
  </div>
</div>
<div class="row bg-light">
  <div class="col-md-2">
    <div id="satellite-text" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="card-body">Satellite</div>
    </div>
  </div>
  <div class="col-md-2">
    <div id="satellite-dropdown" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="card-body">

      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-animated">
          {{text}} <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="changeAction(obj)" >Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="changeAction(obj)" >Another action</a>
          </li>
          <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="changeAction(obj)" >Something else
            here</a></li>
        </ul>
      </div>

      </div>
    </div>
  </div>
</div>
<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Satellite</label>
      </div>
    </div>
    <div class="col-md-4 col-custom ">
      <div class="card-body">
        <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(ngModel)]="dataModel">Satellite</ngx-select-dropdown>
      </div>
    </div>
  </div>
  <div class="row bg-light row-custom">
  <div class="col-md-3 col-custom">
    <div class="card-body">
      <label>Cloud Cover</label>
    </div>
  </div>
  <div class="col-md-4 col-custom ">
    <div class="card-body">
      <input class="form-control" id="minimumCloudCover" placeholder="min. Cloud Cover"/>
    </div>
  </div>
  <div class="col-md-4 col-custom">
    <div class="card-body bg-light">
      <input class="form-control" id="maximumCloudCover" placeholder="max. Cloud Cover"/>
    </div>
  </div>
</div>

  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Portal</label>
      </div>
    </div>
    <div class="col-md-4 col-custom ">
      <div class="card-body">
        <label>Select-Button</label>
      </div>
    </div>
  </div>
</div>
