<div class="container-custom">
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic">Optional Parameters
    </button>
  </div>
</div>
<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <!-- Catalogue URL -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Catalogue URL</label>
      </div>
    </div>
    <div class="col-md-9 col-custom ">
      <div class="card-body">
        <input class="form-control" id="catalogueURL" placeholder="url" (input)="readCatalogueUrl($event.target.value)"/>
      </div>
    </div>
  </div>
  <!-- Record ref id -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Record ref ID</label>
      </div>
    </div>
    <div class="col-md-5 col-custom ">
      <div class="card-body">
        <input class="form-control" id="recordRefId" placeholder="id" (input)="readRecordRefId($event.target.value)"/>
      </div>
    </div>
  </div>
</div>
</div>
