<div class="container-custom">
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic">Optional Parameters
    </button>
  </div>
</div>
<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <!-- Service URL -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>ServiceURL</label>
      </div>
    </div>
    <div class="col-md-9 col-custom ">
      <div class="card-body">
        <input class="form-control" id="serviceUrlDwd" placeholder="url" (input)="readServiceUrlDwd($event.target.value)"/>
      </div>
    </div>
  </div>
  <!-- Layer name -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Layer name</label>
      </div>
    </div>

    <div class="col-md-9 col-custom">
      <div class="card-body">
        <div class="col-md-5 col-custom">
        <ngx-select-dropdown (change)="availableLayerNames($event)"
                             [multiple]="false"
                             [options]="dropdownOptionsTime"
                             [config]="config">
        </ngx-select-dropdown>
        </div>
        <div class="col-custom form-custom">
          <ngx-select-dropdown (change)="selectionChanged($event)"
                               [multiple]="false"
                               [options]="dropdownOptionsLayer"
                               [config]="config"
                               (change)="readLayerName($event.value)">
          </ngx-select-dropdown>
      </div>
      </div>
    </div>

    <div class="col-md-4 col-custom ">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
</div>
