<h5>{{componentTitel}}</h5>
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
         btnRadio="SensorWeb" tabindex="0" role="button">SensorWeb</label>
  <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
         btnRadio="Copernicus" tabindex="0" role="button" >Copernicus</label>
  <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
         btnRadio="GDI-DE" tabindex="0" role="button" >GDI-DE</label>
  <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
         btnRadio="DWD" tabindex="0" role="button">DWD</label>
  <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
         btnRadio="WacodisProduct" tabindex="0" role="button">WacodisProduct</label>
</div>

<app-required-parameters></app-required-parameters>
<hr>

<div *ngIf="sourceTypeSelection">
  <app-optional-parameters-sensor-web *ngIf="sourceTypeSelection=='SensorWeb'"></app-optional-parameters-sensor-web>
  <app-optional-parameters-copernicus *ngIf="sourceTypeSelection=='Copernicus'"></app-optional-parameters-copernicus>
  <app-optional-parameters-gdi-de *ngIf="sourceTypeSelection=='GDI-DE'"></app-optional-parameters-gdi-de>
  <app-optional-parameters-dwd *ngIf="sourceTypeSelection=='DWD'"></app-optional-parameters-dwd>
  <app-optional-parameters-wacodis-product *ngIf="sourceTypeSelection=='WacodisProduct'"></app-optional-parameters-wacodis-product>
</div>
<hr>
