<h5 class="row-custom">{{componentTitel}}</h5>

<div class="row-custom">
  <nav class="navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
         btnRadio="SensorWeb" href="#">SensorWeb<span class="sr-only">(current)</span></a>
    </li>
           btnRadio="SensorWeb" href="#">SensorWeb<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold"  [(ngModel)]="sourceTypeSelection"
           btnRadio="Copernicus" href="#">Copernicus<span class="sr-only">(current)</span></a>
      </li>
             btnRadio="Copernicus" href="#">Copernicus<span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
           btnRadio="GDI-DE" href="#">GDI-DE<span class="sr-only">(current)</span></a>
          <a class="nav-link" [(ngModel)]="sourceTypeSelection"
             btnRadio="GDI-DE" href="#">GDI_DE<span class="sr-only">(current)</span></a>
        </li>
      </div>
      <div class="col">
        <li class="nav-item active">
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
           btnRadio="DWD" href="#">DWD<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
        <li class="nav-item active">
          <a class="nav-link" [(ngModel)]="sourceTypeSelection"
           btnRadio="WacodisProducts" href="#">WacodisProducts<span class="sr-only">(current)</span></a>
      </li>
      </div>
    </ul>
  </div>
  </nav>
</div>
<!--
<div class="btn-group row-custom">
  <div class ="row-sm">
    <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
                  btnRadio="SensorWeb" tabindex="0" role="button">SensorWeb</label>
  </div>
  <div class ="row-sm">
    <label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
                 btnRadio="Copernicus" tabindex="0" role="button" >Copernicus</label>
  </div>
  <div class ="row-sm"><label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
                              btnRadio="GDI-DE" tabindex="0" role="button" >GDI-DE</label></div>
  <div class ="row-sm"><label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
                              btnRadio="DWD" tabindex="0" role="button">DWD</label></div>
  <div class ="row-sm"><label class="btn btn-primary" [(ngModel)]="sourceTypeSelection"
                              btnRadio="WacodisProduct" tabindex="0" role="button">WacodisProduct</label></div>
</div>
-->
<app-required-parameters></app-required-parameters>
<hr class="col-md-5 row-custom" align="left">

<div *ngIf="sourceTypeSelection">
  <app-optional-parameters-sensor-web *ngIf="sourceTypeSelection=='SensorWeb'"></app-optional-parameters-sensor-web>
  <app-optional-parameters-copernicus *ngIf="sourceTypeSelection=='Copernicus'"></app-optional-parameters-copernicus>
  <app-optional-parameters-gdi-de *ngIf="sourceTypeSelection=='GDI-DE'"></app-optional-parameters-gdi-de>
  <app-optional-parameters-dwd *ngIf="sourceTypeSelection=='DWD'"></app-optional-parameters-dwd>
  <app-optional-parameters-wacodis-product *ngIf="sourceTypeSelection=='WacodisProducts'"></app-optional-parameters-wacodis-product>
</div>
<hr class="col-md-5 row-custom" align="left">
