h5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-element{
  color: #007bff;
}

.row-custom{
  margin-left: 10px;
  margin-right: 10px;
}
.col-custom{
  padding-left: 0px;
  padding-right: 0px;
}
.form-custom{
  margin-top: 5px;
}

.container-custom{
  margin-top: 20px;
  margin-bottom: 20px;
}

