


h5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-element{
  color: #007bff;
}

.row-custom{
  margin-left: 10px;
  margin-right: 10px;
}
.col-custom{
  padding-left: 0px;
  padding-right: 0px;
}
.form-custom{
  margin-top: 5px;
}

.container-custom{
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn{
  border-radius: 0;

}

.card-body{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

}

label{
  padding-top: 10px;
  font-size: small;
}

.first-element{
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}