<h5 class="row-custom">{{componentTitel}}</h5>

<div class="row-custom">
  <nav class="navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
         btnRadio="SensorWeb" href="#" (ngModelChange)="sendChoosenSourceType($event)">SensorWeb<span class="sr-only">(current)</span></a>
    </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold"  [(ngModel)]="sourceTypeSelection"
           btnRadio="Copernicus" href="#" (ngModelChange)="sendChoosenSourceType($event)">Copernicus<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
           btnRadio="GDI-DE" href="#" (ngModelChange)="sendChoosenSourceType($event)">GDI-DE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
           btnRadio="DWD" href="#" (ngModelChange)="sendChoosenSourceType($event)">DWD<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [(ngModel)]="sourceTypeSelection"
           btnRadio="WacodisProducts" href="#" (ngModelChange)="sendChoosenSourceType($event)">WacodisProducts<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </nav>
</div>

<app-required-parameters></app-required-parameters>
<hr class="row-custom" align="left">

<div *ngIf="sourceTypeSelection">
  <app-optional-parameters-sensor-web *ngIf="sourceTypeSelection=='SensorWeb'"></app-optional-parameters-sensor-web>
  <app-optional-parameters-copernicus *ngIf="sourceTypeSelection=='Copernicus'"></app-optional-parameters-copernicus>
  <app-optional-parameters-gdi-de *ngIf="sourceTypeSelection=='GDI-DE'"></app-optional-parameters-gdi-de>
  <app-optional-parameters-dwd *ngIf="sourceTypeSelection=='DWD'"></app-optional-parameters-dwd>
  <app-optional-parameters-wacodis-product *ngIf="sourceTypeSelection=='WacodisProducts'"></app-optional-parameters-wacodis-product>
</div>
<hr class="row-custom" align="left">
  <app-result></app-result>

