<div class="container-custom">
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic">Optional Parameters
    </button>
  </div>
</div>
<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <!-- Satellite -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Satellite</label>
      </div>
    </div>
    <div class="col-md-4 col-custom ">
      <div class="card-body">
        <ngx-select-dropdown  [multiple]="false"
                              [options]="dropdownOptionsSatellite"
                              [config]="config"
                              [(ngModel)]="selectedSatellite"
                              (change)="readSatellite($event.value)">
        </ngx-select-dropdown>
      </div>
    </div>
  </div>
  <!-- Cloud Cover -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Cloud Cover</label>
      </div>
    </div>
    <div class="col-md-8 col-custom ">
      <div class="card-body">
        <label>0 %</label>
        <mv-slider [(value)]="value" [min]="0" [max]="100" [enabled]="enabled" [range]="false"
                   (change)="readCloudCover($event.newValue)"></mv-slider>
        <label>100 %</label>
      </div>
    </div>
  </div>
  <!-- Portal -->
  <div class="row bg-light row-custom">
    <div class="col-md-3 col-custom">
      <div class="card-body">
        <label>Portal</label>
      </div>
    </div>
    <div class="col-md-4 col-custom ">
      <div class="card-body">
        <ngx-select-dropdown  [multiple]="false"
                              [options]="dropdownOptionsPortal"
                              [config]="config"
                              [(ngModel)]="selectedPortal"
                              (change)="readPortal($event.value)">>
        </ngx-select-dropdown>
      </div>
    </div>
  </div>
</div>
</div>
