.btn{
  border-radius: 0;
  margin-left: 10px;
}

.hr{
  width: 44%;
}

.custom-element{
  color: #007bff;
}

.row-custom{
  margin-left: 10px;
  margin-right: 10px;
  width: 44%;
}
.col-custom{
  padding-left: 0px;
}
.form-custom{
  margin-top: 5px;
}
